<%- include('admin') %>
<div class="content">
    <form action="/admin/edit/<%= animal._id %>?_method=PUT" method="POST" class="container">
        <h2>Edit Animal</h2>
        
        <div class="form-group">
            <label for="nom">Name:</label>
            <input type="text" name="nom" class="form-control" value="<%= animal.nom %>" required>
        </div>

        <div class="form-group">
            <label for="espece">Species:</label>
            <input type="text" name="espece" class="form-control" value="<%= animal.espece %>" required>
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" class="form-control" value="<%= animal.age %>" required>
        </div>

        <div class="form-group">
            <label for="taille">Size:</label>
            <input type="text" name="taille" class="form-control" value="<%= animal.taille %>" required>
        </div>

        <div class="form-group">
            <label for="statut">Status:</label>
            <select id="statut" name="statut" class="form-control" required>
              <option value="Not Adopted" <%= animal.statut === "Not Adopted" ? "selected" : "" %>>Not Adopted</option>
              <option value="Adopted" <%= animal.statut === "Adopted" ? "selected" : "" %>>Adopted</option>
            </select>
          </div>

        <div class="form-group">
            <label for="sexe">Sex:</label>
            <select name="sexe" class="form-control" required>
                <option value="Male" <%= animal.sexe === "Male" ? "selected" : "" %>>Male</option>
                <option value="Female" <%= animal.sexe === "Female" ? "selected" : "" %>>Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description" class="form-control" value="<%= animal.description %>">
        </div>

        <div class="form-group">
            <label for="recherche">Search:</label>
            <input type="text" name="recherche" class="form-control" value="<%= animal.recherche %>">
        </div>

        <div class="form-group">
            <label for="incompatibilite">Incompatibility:</label>
            <input type="text" name="incompatibilite" class="form-control" value="<%= animal.incompatibilite %>">
        </div>

        <div class="form-group form-check">
            <input 
              type="checkbox" 
              id="vaccination" 
              name="vaccination" 
              class="form-check-input" 
              <%= animal.vaccination ? "checked" : "" %>
            <label for="vaccination" class="form-check-label">Vaccinated</label>
        </div>
        <button type="submit" class="btn btn-primary">Update Animal</button>
    </form>
</div>
